
# Python / environments / tests / databases / logs
.cache
.pytest_cache/
.data/
.idea/
__pycache__/
env
.env
.venv
.vscode/
*Zone.Identifier
*.sqlite3
*.sqlite
*.db
*.log

# Private files
OLD/
testowy.py
